main {
    background-color: #0d1117;
    padding-top: 100px;
    padding-bottom: 100px;
}
main .container {
    position: relative;
    padding-left: 86px;
}
main h4 {
    font-weight: 200;
    color: #e1e1e1;
    text-indent: 8px;
}
main h1 {
    font-size: 6rem;
    font-weight: 400;
    color: #e1e1e1;
}
main .circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border: solid 1px #e1e1e1;
    border-radius: 8px;
    left: 8px;
    top: 4px;
}
main .line {
    position: absolute;
    width: 4px;
    height: calc(100% + 200px);
    /* border: solid 1px #e1e1e1; */
    background-image: linear-gradient(transparent, red, blue, transparent);
    border-radius: 8px;
    left: 12px;
    top: 32px;
}