.hero .container {
  position: relative;
  margin-top: 100px;
  padding-left: 76px;
  /* background-color: red; */
}
.hero p {
  color: #a4aab3;
  font-size: 1.2em;
  margin-bottom: 12px;
}
.hero h1 {
  font-size: 10em;
  /* clamp: (4rem, 8rem); */
  font-weight: 400;
  /* color: #e1e1e1; */
  color: transparent; /* Make the inside of the text transparent */
    -webkit-text-stroke: 1px #e1e1e1; /* Add a black border (outline) to the text */
  transform: translateX(-8px);
  margin-bottom: 48px;
}
.hero .stack {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.hero .stack li {
    background-color: #ffffff1a;
    padding: 10px 16px;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    column-gap: 12px;
    cursor: pointer;
}
.hero .stack li:hover {
    background-color: #3c3c3cf2;
}
.hero .stack li svg {
    font-size: 16px;
}
.hero .stack li:nth-child(1) svg {
    color: #f14c4d;
}
.hero .stack li:nth-child(2) svg,
.hero .stack li:nth-child(3) svg {
    color: #6DB33F;
}
.hero .stack li:nth-child(4) svg {
    color: yellow;
}
.hero .stack li:nth-child(5) svg {
    color: #61DAFB;
}
.hero .stack li:nth-child(6) svg {
    color: #fff;
}
.hero .stack li:nth-child(7) svg {
    color: #563d7c;
}
.hero .stack li:nth-child(8) svg {
    color: #cc6699;
}

.hero .stack li span {
    color: #a4aab3;
}
.circle {
  position: absolute;
  top: 10px;
  left: 19px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  border: 1px solid #a4aab3;
}
.line {
  position: absolute;
  height: 100%;
  width: 2px;
  /* border: #a4aab3 solid 1px; */
  border-radius: 2px;
  background-image: linear-gradient(#ff000080, #0000ff80);
  left: 22px;
  top: 40px;
}
